body {
}
p {
  font-family: Libre Franklin, sans-serif;
  font-size:52px;
	font-color: blue;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
	padding-left: 20px;
}
body {
  width: 660px;
	background: #fff;
  margin: auto;
}
.col1 {
  width: 170px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 10px;
  float: left;
}
.col2 {
  width: 70px;
	height: 520px;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
	font-color:blue;
}
.col3 {
  width: 70px;
	height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
	font-color:blue;
}

.col4 {
  width: 170px;
	height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
	font-color:blue;
}









