button {
  background-color:pink;
  border: none;
  color:black;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}

 .color-hover:hover {
   background-color:pink;
   text-decoration: underline;
 }


 .container {
   background-image: url(https://images.unsplash.com/photo-1599101006019-ffd5ca4d6405?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
   background-size: cover;
   height:1000px;
   margin: 0 auto;
   width:30%;

 }

 h1 {
   color: black;
   font-size:52px;
   position:relative;
   text-align:left;

 }
