 button {
   background-color:blue;
   border:none;
   color:yellow;
   font-family:Arial, sans-serif;
   text-transform:uppercase;
   padding:1em 2em 1em 2em;

 }

 .color-hover:hover {
   background-color:pink;
   text-decoration: underline;
 }
