* {



}



h1 {
  font-family: 'Helvetica', san-serif;
  	font-size:50px;
	font-weight:bold;
  	line-height:55px;
 	 font-weight:500;
 	 text-align:left;
 	 width: 100%;
 	 margin: 0 auto;
 	position:relative;

}
p {
  font-family:'Garamond', serif;
  line-height:30px;
	font-size: 25px;

}

h6 {
	font-family:'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 22px;
	
	
}


.container-make {
	display: grid;
	grid-template-columns: 370px 932px;
	
	grid-column-gap: 69px;
	

}

#grid-1 {
	padding-left: 56px;
	padding-top: 76px;
	
}

#grid-2 {
	padding-bottom: 18px;
	padding-top: 76px;

	
	
}

#grid-3 {
	padding-left: 56px;
	padding-top: 145px;
}

#grid-4 {
	padding-bottom: 36px;
	
	
}


.footer {
	padding-left: 1120px;
	word-spacing: 108px;
	padding-bottom: 33px;
}
